{% extends "base.html" %}

{% block content %}

<form method="POST" action = '/add'>
    {% with messages = get_flashed_messages() %}
        <ul>
            {%for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endwith %}  

    <label for "title">title:</label>
    <br>
    <input type= 'text' name = 'title'/>
    <br>
    <label for "blog">Your blog entry here:</label>
    <br>
    <textarea name="blog" rows="4" cols="50"> </textarea>
    <br>
    <input type = 'submit' value = 'Post it!'/>
</form>

{% endblock %}

